*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(#eeef), #c8c7;
}
.chat-popup{
    position: relative;
    width: 500px;
    background: #fff;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.3), 0 32px 64px -48px rgba(0, 0, 0, 0.3);
}
.chat-header{
    display: flex;
    padding: 15px 20px;
    align-items: center;
    justify-content: space-between;
    background: rgb(87, 87, 180);
}
.chat-header .header{
    display: flex;
    gap: 10px;align-items: center;
}
.header .logo{
    height: 35px;
    width: 35px;
    background: #fff;
    border-radius: 50%;
    padding: 5px;
    fill: rgb(87, 87, 180);
    flex-shrink: 0;
}
.header .text-logo{
    color: #fff;
    font-size: 1.5rem;
}
.chat-header #close{
    border: none;
    color: #fff;
    height: 40px;
    width: 40px;
    font-size: 1.5rem;
    background: none;
    border-radius: 50%;
    margin-right: -10px;
    padding-top: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}
.chat-header #close:hover{
    background: rgb(67, 67, 196);
}
.chat-body{
    padding: 25px 25px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 460px;
    overflow-y: auto;
    margin-bottom: 80px;
    scrollbar-width: thin;
    scrollbar-color: #ccccf5 transparent;
}
.chat-body .message{
    display: flex;
    align-items: center;
    gap: 10px;
}
.chat-body .message .avatar{
    height: 35px;
    width: 35px;
    background: rgb(87, 87, 180);
    border-radius: 50%;
    padding: 5px;
    align-self: flex-end;
    margin-bottom: 2px;
    fill: #fff;
    flex-shrink: 0;
}
.chat-body .user-msg{
    flex-direction: column;
    align-items: flex-end;
}
.chat-body .message .msg-text{
    padding: 12px 15px;
    max-width: 75%;
    font-size: 1rem;
}
.chat-body .bot-msg.think .msg-text{
    padding: 2px 16px;
}
.chat-body .bot-msg .msg-text{
    background: #f2f2ff;
    border-radius: 13px 13px 13px 3px;
}
.chat-body .user-msg .msg-text{
    color: #fff;
    background: rgb(87, 87, 180);
    border-radius: 13px 13px 3px 13px;
}
.chat-body .bot-msg .thinking{
    display: flex;
    gap: 4px;
    padding-block: 12px;
}
.chat-body .bot-msg .thinking .dot{
    height: 7px;
    width: 7px;
    opacity: 0.7;
    background: rgb(124, 124, 192);
    border-radius: 50%;
    animation: dot 2s ease-in-out infinite;
}
.chat-body .bot-msg .thinking .dot:nth-child(1){
    animation-delay: 0.2s;
}
.chat-body .bot-msg .thinking .dot:nth-child(2){
    animation-delay: 0.3s;
}
.chat-body .bot-msg .thinking .dot:nth-child(3){
    animation-delay: 0.3s;
}
@keyframes dot {
    0%, 44%{
        transform: translateY(0);
    }
    28%{
        opacity: 0.4;
        transform: translateY(-4px);
    }
    44%{
        opacity: 0.2;
    }
}
.chat-footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: #fff;
    padding: 15px 20px 20px;
}
.chat-footer .chat-form{
    display: flex;
    align-items: center;
    border-radius: 30px;
    outline: 1px solid #cccce5;
}
.chat-footer .chat-form:focus-within{
    outline: 1px solid rgb(87, 87, 180);
}
.chat-form .msg-input{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    padding: 14px 0 13px 18px;
    border-radius: inherit;
    resize: none;
}
.chat-form .chat-controls{
    display: flex;
    height: 45px;
    gap: 3px;
    align-items: center;
    align-self: flex-end;
    padding-right: 6px;
}
.chat-form .chat-controls button{
    height: 35px;
    width: 35px;
    font-size: 1.2rem;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    color: #9090dc;
    background: none;
    transition: 0.2s ease;
}
.chat-form .chat-controls #send{
    color: #fff;
    background: rgb(124, 124, 192);
    display: none;
}
.chat-form .msg-input:valid~.chat-controls #send{
    display: block;
}
.chat-form .chat-controls #send:hover{
    background: rgb(87, 87, 180);
}
.chat-form .chat-controls button:hover{
    background: #f1f1ff;
}
.material-symbols-rounded {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}